<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./css/style.css" />

    <!-- Bootstrap Icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <!-- Bootstrap CSS cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

    <!-- animinate -->
    <link rel="stylesheet" href="css/animate.min.css" />


    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <script src="https://kit.fontawesome.com/ff5b9029ba.js" crossorigin="anonymous"></script>

    <title>HOME|RIGHTPAY</title>
</head>

<body>

    <div class="topheader d-none d-lg-flex">
        <div class="topheader_container">
            <div class="typewriter_div">
                <img src="img/call.webp" alt="Call_Logo">
                <div class="typewriter">
                    <div class="typewriter-text"> <b>+91 9669667557</b> <b>7880037557</b>
                    </div>
                </div>
            </div>
            <div class="topheader_right">
                <ul class="social">
                    <li><a href="https://www.facebook.com" target="_blank">
                            <div class="bg-facebook icon-s5"></div>
                        </a></li>
                    <li><a href="https://www.twitter.com" target="_blank">
                            <div class="bg-twitter icon-s5"></div>
                        </a>
                    </li>
                    <li><a href="https://www.youtube.com" target="_blank">
                            <div class="bg-youtube icon-s5"></div>
                        </a>
                    </li>

                    <li><a href="https://www.instagram.com" target="_blank">
                            <div class="bg-instagram icon-s5"></div>
                        </a>
                    </li>
                </ul>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="topheader_btn">Join Now</a>
                <!-- <button id="popup" onclick="div_show()"></button> -->
                <div class="dropdown ">
                    <a class="dropdown-toggle text-white language" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Languages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Hindi</a></li>
                        <li><a class="dropdown-item" href="#">English</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <!-- ______________________________________________Navigation_______________________________________________ -->

    <nav class="navbar navbar-expand-lg  ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="img/logo.webp" alt="RightPe Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown" id="myDropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Our Services </a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" href="#"> Banking &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Aeps</a></li>
                                    <li><a class="dropdown-item" href="#">Money Trnasfer
                                    <li><a class="dropdown-item" href="#">Micro ATM</a></li>
                                    <li><a class="dropdown-item" href="#">Mpos Machine</a></li>
                                    <li><a class="dropdown-item" href="#">Upi QR Code</a></li>
                                    <li><a class="dropdown-item" href="#">Account Opening</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Bill Payment &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Mobile Recharge</a></li>
                                    <li><a class="dropdown-item" href="#">DTH Recharge</a></li>
                                    <li><a class="dropdown-item" href="#">BBPS</a></li>
                                    <li><a class="dropdown-item" href="#">Credit Card Bill</a></li>
                                    <li><a class="dropdown-item" href="#">LIC Premium</a></li>
                                    <li><a class="dropdown-item" href="#">Water Bill</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Travels Booking &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Flight</a></li>
                                    <li><a class="dropdown-item" href="#">Bus</a></li>
                                    <li><a class="dropdown-item" href="#">IRCTC Train Booking</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Insurance &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Health</a></li>
                                    <li><a class="dropdown-item" href="#">Vehicle</a></li>
                                    <li><a class="dropdown-item" href="#">Life</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Others &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Pan Card</a></li>
                                    <li><a class="dropdown-item" href="#">Ayushman Card</a></li>
                                    <li><a class="dropdown-item" href="#">Prepaid Card</a></li>
                                    <li><a class="dropdown-item" href="#">Fast Tag</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    </li>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_login_btn"><i class="fas fa-user-tie"></i> Login</a>
                    </li>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <!-- _____________________________________________________End Navigation____________________________________________ -->

    <!-- _____________________________________________HEADER_______________________________________________________ -->

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/kisanSlide.webp" class="d-block w-100 " alt="...">
                <div class="carousel-caption">
                    <div class="banner_content">
                        <div class="row">
                            <div class="col-7 col-md-7 col-lg-6">
                                <div class="banner_text">
                                    <h2 class="animate__animated animate__fadeInLeft banner_text_heading">Welcome to
                                        RightPe Fast and Reliable Aeps Service.</h2>
                                    <ul class="banner_text_list">
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Balance Inquiry</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Cash Withdrawal</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Mini Statement</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Best Commission</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            24 Hour Settlement</li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-5 col-md-5 col-lg-6">
                                <div class="banner_img2">
                                    <picture>
                                        <source srcset="img/morphot.webp" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                        <img srcset="img/morphot.webp" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/slider_all.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="banner_content">
                        <div class="row">
                            <div class="col-7 col-md-7 col-lg-6">
                                <div class="banner_text">
                                    <h2 class="animate__animated animate__fadeInLeft banner_text_heading">
                                        All services are provided to you at RightPe with best commission and support.
                                    </h2>
                                    <ul class="banner_text_list">
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            You can grow your business joining us.</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Retailer</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Distributor</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Master Distributor</li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-5 col-md-5 col-lg-6">
                                <div class="banner_img2">
                                    <picture>
                                        <source srcset="img/network.webp" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                        <img srcset="img/network.webp" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/slider_micro.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="banner_content">
                        <div class="row">
                            <div class="col-7 col-md-7 col-lg-6">
                                <div class="banner_text">
                                    <h2 class="animate__animated animate__fadeInLeft banner_text_heading">Make your shop
                                        the ATM of your area with RightPe Micro ATM</h2>
                                    <ul class="banner_text_list">
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            All Debit and Credit card Accepted</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Balance Inquiry</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Cash Withdrawal</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Mini Statement</li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-5 col-md-5 col-lg-6">
                                <div class="banner_img2">
                                    <picture>
                                        <source srcset="img/m3cropped.webp" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                        <img srcset="img/m3cropped.webp " type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev  d-none d-md-block" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next  d-none d-md-block" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section class="home_section max_width">
        <!-- _____________________________Home Section Start_________________________________ -->

        <!-- _________________________________________________________About Us_______________________________________________________ -->

        <section class="home_about_us">
            <div class="sub-heading">
                <h2>ABOUT US</h2>
            </div>
            <div class="row home_about_row">
                <div class="col-xl-6 home_about_column1">
                    <div class=" home_about_img_div">
                        <img src="img/aboutimg1.webp" alt="about image" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-6 home_about_column2">
                    <div class=" home_about_text">
                        <p>RightPe is the online platform of Sunrise Infotech Services, a leading mobile payments and
                            commerce platform in India. It started with online mobile recharge and bill payment and is
                            today an online marketplace. In a very short span of time, we have expanded to more and more
                            registered users. We strive to maintain an open culture where everyone is a contributor and
                            feels comfortable sharing their ideas. Under this platform, RightPe offers its customers
                            AEPS, Bank Transfer, Mobile & DTH recharge, Micro ATM, PAN Card, Recharge, Rail, Air & Bus
                            Reservation, Bill Payment, Digital Many more services like Wallet are included. </p>
                        <a class="btn btn-primary " href="/">Read More</a>
                    </div>

                </div>
            </div>
        </section>


        <!-- _________________________________________________Our Services____________________________________________________________ -->


        <section id="tw-service" class=" tw-service tw-services-item ">
            <div class="sub-heading">
                <h2>OUR SERVICES</h2>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/aeps.webp" alt="search engine" class="img-fluid">
                            </div>

                            <div class="service-content">
                                <h3>AEPS</h3>
                                <p>Through AEPS you can make cash withdrawals to your customers and for which you get
                                    commission from RightPe.</p><br>
                                <a href="hire-php-developers"><button type="button" class="btn btn-primary">Read
                                        More</button></a>

                            </div>

                        </div>
                        <!-- Service box end -->

                    </div>
                    <!-- Col End -->
                    <div class="col-md-4 ">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".4s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/money_transfer.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>MONEY TRANSFER</h3>
                                <p>Through this facility you can transfer the money of your customers from one account
                                    to another.</p><br>
                                <a href="laravel-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box End -->
                    </div>
                    <!-- Col End -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".6s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/micro_atm.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service Icon End -->
                            <div class="service-content">
                                <h3>MICRO ATM</h3>
                                <p>With RightPe Micro ATM, you can give your customers the convenience of cash by using
                                    debit cards and credit cards.</p><br>
                                <a href="wordpress-e-commerce-development-services"><button type="button"
                                        class="btn btn-primary">Read More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box End -->
                    </div>
                    <!-- Col end -->
                </div>
                <!-- Row end -->

                <div class="row ">
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/recharge.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>MOBILE RECHARGE</h3>
                                <p>Here you can get better commission by recharging all company's mobile and DTH.</p>
                                <br>
                                <a href="angular-js"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service Box end -->
                    </div>
                    <!-- Col end -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".4s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/bbps.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>BBPS</h3>
                                <p>RightPe provides electricity bill payment facility to its customers with better
                                    commission.</p><br>
                                <a href="nodejs"><button type="button" class="btn btn-primary">Read More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box end -->
                    </div>
                    <!-- Row End -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".6s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/pan_card.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service Icon end-->
                            <div class="service-content">
                                <h3>PAN CARD</h3>
                                <p>Through this facility you can apply for PAN card of your customer.</p><br>
                                <a href="magento-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service Content end -->
                        </div>
                        <!-- Service box end-->
                    </div>
                    <!-- Col end -->



                </div>

                <div class="row ">
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/ayushman120.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>AYUSHMAN CARD</h3>
                                <p>Through this facility, you can make and give Ayushman card of your customers.</p><br>
                                <a href="angular-js"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service Box end -->
                    </div>
                    <!-- Col end -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".4s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/travels.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>TRAVELS BOOKING</h3>
                                <p>Travel Booking facility you get commission by providing travel booking facility to
                                    your customers. </p><br>
                                <a href="nodejs"><button type="button" class="btn btn-primary">Read More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box eaaaaaaaaaaaaaand -->
                    </div>
                    <!-- Row End -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".6s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: zoomIn;">
                            <div class="service-icon ">
                                <img src="img/insurance160.webp" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service Icon end-->
                            <div class="service-content">
                                <h3>INSURANCE</h3>
                                <p>Through insurance facility, you provide health, vehicle, life insurance facility to
                                    your customer.</p><br>
                                <a href="magento-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service Content end -->
                        </div>
                        <!-- Service box end-->
                    </div>
                    <!-- Col end -->



                </div>
                <!-- Row End -->



            </div>


            <!-- container -->
        </section>

        <!-- _________________________________________________Our Partners____________________________________________________________ -->
        <section class="our_partners">
            <div class="sub-heading">
                <h2>OUR PARTNERS</h2>
            </div>
            <div class="container">
                <section class="customer-logos slider">
                    <div class="slide">
                        <img class="img-fluid" src="img/icici.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/vi.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/jio.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/axisbank.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/paytm.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/bsnl.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/airtel.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/bbps.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/yesbank.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/lic.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/ncpi.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/uti.png">
                    </div>
                </section>
            </div>
        </section>
        <!-- _________________________________________________Why choose us____________________________________________________________ -->
        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 619px; height: auto; padding-top: 0px; padding-bottom: 0px;">

            <section class="panel"
                style="position: relative; margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">

                <div class="wc_us">



                    <div class="container-xl">
                        <div class=" row">
                            <div class="col-md-10 wc_img_col">
                                <div class="img_div">
                                    <img src="img/wc2.webp" alt="Why choose Us Image">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="wc_content_card">
                                    <h2>WHY CHOOSE US</h2>
                                    <p>RightPe with the training of its skilled team to its customers, it provides a
                                        wide range of services like Recharge, Aeps, DMT, Micro ATM Rail, Air & Bus
                                        Reservation, Bill Payment, Digital Wallet etc. on a single portal and also makes
                                        every effort that Our every single customer is satisfied with us, they use our
                                        digital service to grow their business and get maximum income. For which we try
                                        to innovate in the portal.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row wc_card_main_row">
                            <div class="col-12 wc_card_main_col">
                                <div class="row ">
                                    <div class="col-4 col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <!-- <img src="img/wc/Best Commission & Extra Earn.png" alt=""> -->
                                            <div class="wc_img_div">
                                                <div
                                                    class="bg-Best_Commission_Extra_Earn icon-s43 wow animate__animated animate__jackInTheBox animate__slow">
                                                </div>
                                            </div>
                                            <h3>Best Commission <br> & Extra Earn</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <!-- <img src="img/wc/24x7 Settlement.png" alt=""> -->
                                            <div class="wc_img_div">
                                                <div
                                                    class="bg-24x7_Settlement icon-s43  wow animate__animated animate__jackInTheBox animate__slow">
                                                </div>
                                            </div>
                                            <h3>24x7 Settlement</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <!-- <img src="img/wc/Safe & Sequre Portal.png" alt=""> -->
                                            <div class="wc_img_div">
                                                <div
                                                    class="bg-Safe_Sequre_Portal icon-s43  wow animate__animated animate__jackInTheBox animate__slow">
                                                </div>
                                            </div>
                                            <h3>Safe & Sequre <br> Portal</h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <!-- <img src="img/wc/Trustworthy.png" alt=""> -->
                                            <div class="wc_img_div">
                                                <div
                                                    class="bg-Trustworthy icon-s43  wow animate__animated animate__jackInTheBox animate__slow">
                                                </div>
                                            </div>
                                            <h3>Trustworthy</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <!-- <img src="img/wc/Easy to Work.png" alt=""> -->
                                            <div class="wc_img_div">
                                                <div
                                                    class="bg-Easy_to_Work icon-s43  wow animate__animated animate__jackInTheBox animate__slow">
                                                </div>
                                            </div>
                                            <h3>Easy to Work</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <div class="wc_img_div">
                                                <!-- <img src="img/wc/Fast Support.png" alt=""> -->
                                                <div
                                                    class="bg-Fast_Support icon-s43  wow animate__animated animate__jackInTheBox animate__slow">
                                                </div>
                                            </div>
                                            <h3>Fast Support</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- _________________________________________________Gallary____________________________________________________________ -->
        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 619px; height: auto; padding-top: 0px; padding-bottom: 0px;">
            <section class="panel"
                style="position: relative; margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">
                <div class="home_sub_heading bg_dark ">
                    <h2>OUR GALLARY</h2>
                </div>


                <div class="gallary_blk ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-lg-8">
                                <div class="gallary_left">
                                    <div class="gallary_text">
                                        <h2>Some Better Experience With Our Customer Of RightPe.</h2>
                                    </div>
                                    <div class="gallary_div">
                                        <div class="row gallary_img_row slider">
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                        </div>
                                        <div class="row gallary_img_row slider">
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg"
                                                    alt="Gallary Image" class=""></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5 col-lg-4 gallary_right_blk">
                                <div class="gallary_right">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- _____________________________________Mobile App_____________________________________ -->
        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 616px; height: auto; padding-top: 0px; padding-bottom: 0px;">
            <section class="panel"
                style="position: relative; margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">

                <div class="home_sub_heading bg_light">
                    <h2 class="text-dark">
                        Download Rightpe Now</h2>
                </div>

                <div class="mobile_app">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-lg-push-6">
                                <div class="mobile_img_div">
                                    <img src="img/mobile1.gif" alt="Mobile App Gif" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-6 col-lg-pull-6">

                                <p class="ma_text">To download the RightPe mobile application, please submit your mobile
                                    number
                                    here, you will be sent a link through a text message, with the help of which you
                                    can sign in or login by downloading the RightPe mobile app from the Play Store.
                                </p>

                                <div class="ma_input">
                                    <input type="tel" name="mobile" class="mobile" maxlength="10"
                                        placeholder="Enter Phone no.">
                                    <button type="submit" class="ma_btn" id="retailer-submit">Get app link</button>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <div class="talk_section">
            <section class="">

                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="talk_content_div wow animate__animated animate__fadeInLeft">

                                <h2>If you are looking for a reliable best portal then once please submit the join now
                                    form our experienced team will contact you soon.</h2>



                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="talk_div">

                                <!-- <a class="talk_btn wow animate__animated animate__fadeInUp" data-wow-delay="200ms"
                                    data-wow-duration="1500ms" href="contact.html">Get
                                    Started</a> -->

                                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="talk_btn">Join Now</a>
                                <img class="wow animate__animated animate__fadeInRight" src="img/joinNow.webp"
                                     alt="Join Now Image">

                            </div>

                        </div>
                    </div>
            </section>
        </div>








    </section>




    <!-- _________________________________________________FOOTER____________________________________________________________ -->




    <footer class="pt-4 w-100">
        <div class="container">
            <div class="row footer-content pb-3">
                <div class="col-lg-3 col-sm-6 footer_grid footer-logo wow animate__animated animate__fadeInLeft"
                    data-wow-delay=".2s">
                    <h2><a href="#"><img class="img-fluid wow animate__animated animate__bounceInDown"
                                data-wow-delay="1.1s" src="img/logo.webp" alt="RightPe Logo"> </a>
                    </h2>
                    <p>RightPe is a professional B2B software company based in India. We at RightPe provide a wide
                        range of services like AePS, Recharge (Mobile, DTH), Bill Payment System, Domestic Money
                        Transfer, PAN Card, Micro ATM, Travels Booking, Insurance etc. with best commission.
                    </p>

                </div>
                <div class="col-lg-3 col-sm-4 footer_grid wow animate__animated animate__fadeInLeft"
                    data-wow-delay=".4s">
                    <h3 class="my-3"> Quick Links</h3>
                    <div class="social-grids footer-icon">
                        <ul>
                            <li class="mb-1"><a href="#home"><i class="fas fa-home"></i> Home</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-info-circle"></i> About Us</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-cog"></i> Services</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-user"></i>Testimonials</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-shield-alt"></i> Privacy Policy</a>
                            </li>
                            <li class="mb-1"><a href="#"><i class="fas fa-envelope-open"></i> Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 footer_grid ms-0 wow animate__animated animate__fadeInLeft"
                    data-wow-delay=".7s">
                    <h3 class="my-3">Our Service</h3>
                    <div class="social-grids footer-icon">
                        <ul>
                            <li class="mb-1"><a href="#"><i class="fas fa-fingerprint"></i>AEPS</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-money-bill-alt"></i>Money Transfer</a>
                            </li>
                            <li class="mb-1"><a href="#"><i class="fas fa-mobile"></i>Micro ATM </a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-mobile"></i>MPOS Machine</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-qrcode"></i>UPI QR Code</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-user-shield"></i>LIC Premium</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-bolt"></i>All Recharge</a></li>
                            <li class="mb-1"><a href="#"><i class="fab fa-btc"></i>BBPS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 footer_grid wow animate__animated animate__fadeInLeft"
                    data-wow-delay="1s">
                    <h3 class="my-3">Other Services</h3>

                    <div class="social-grids footer-icon">
                        <ul>
                            <li class="mb-1"><a href="#"><i class="fas fa-file-invoice"></i>Bill Payment</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-credit-card"></i>Credit Card Bill</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-shield-alt"></i>Insurance</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-address-card"></i>Pan Card</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-id-card-alt"></i>Ayushman Card</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-shipping-fast"></i>Fast Tag</a></li>
                            <li class="mb-1"><a href="#"><i class="fas fa-suitcase-rolling"></i>Travels Booking</a>
                            </li>
                            <li class="mb-1"><a href="#"><i class="fab fa-accusoft"></i>Account Opening</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row footer-bottom">
                <hr>
                <div class="col-lg-6 col-md-12 order-2 order-lg-1 copyleft">
                    <p> 2021 Rightpe All Rights Reserved</p>
                </div>
                <div class="col-lg-6 col-md-12 order-1 order-lg-2 copyright">
                    <ul class="social">
                        <li class="mr-3"><a href="https://www.facebook.com" target="_blank">
                                <div class="bg-facebook icon-s63"> </div>
                            </a></li>
                        <li class="mr-3"><a href="https://www.twitter.com" target="_blank">
                                <div class="bg-twitter icon-s63"> </div>
                            </a></li>
                        <li class="mr-3"><a href="https://www.youtube.com" target="_blank">
                                <div class="bg-youtube icon-s63"> </div>
                            </a></li>
                        <li class="mr-3"><a href="https://www.instagram.com" target="_blank">
                                <div class="bg-instagram icon-s63"> </div>
                            </a></li>
                    </ul>



                </div>

            </div>
        </div>
    </footer>



    <!-- _______________________________________contact form___________________________________ -->


    <div class="modal fade modalform" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">To join with RightPe, <br> Please fill out this
                        form and submit, we will contact you soon.
                    </p>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <div id="message_popup" style="text-align:center; padding-bottom: 15px; display: none;"></div>
                    <form id="contact_us_form_popup" action="" method="post"
                        class="form-horizontal popup contact_us_form" novalidate="" enctype="multipart/form-data"
                        accept-charset="utf-8">
                        <div class="row">
                            <div class="col-sm-6 requireSign">
                                <input type="text" placeholder="Full Name" id="name_popup" name="name" required=""
                                    class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Mobile No." id="phone_popup" name="phone" required=""
                                    class="form-control">
                            </div>
                            <div class="col-sm-6 requireSign">
                                <input type="email" placeholder="Email" id="email_popup" name="email" required=""
                                    class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="City/District" id="city_popup" name="city" required=""
                                    class="form-control">
                            </div>
                            <div class="col-sm-6 requireSign">
                                <input type="text" placeholder="State" name="state" id="state_popup" required=""
                                    class="form-control">
                            </div>
                            <div class="col-sm-6 requireSign">
                                <input type="text" placeholder="Pin Code" name="pin" id="pin_popup" required=""
                                    class="form-control">
                            </div>

                            <div class="col-sm-12 requireSign">
                                <textarea placeholder="Your Message" rows="2" name="message" id="message_popup_form"
                                    class="form-control"></textarea>
                            </div>

                            <div class="col-sm-12 mt-3 model_btn_div">
                                <input type="submit" class="btn bg_dark center-block" value="Submit"
                                    style="width: 100%;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ______________________________contact form end ______________________________________- -->
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    <script src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/ScrollMagic.js"></script>




    <script type="text/javascript">
        $(document).ready(function () {
            $('.gallary_img_row').slick({
                slidesToShow: 3,
                slidesToScroll: 1,

                arrows: false,
                autoplay: true,
                autoplaySpeed: 2200,
                responsive: [

                    {
                        breakpoint: 990,
                        settings: {
                            arrows: false,
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 620,
                        settings: {
                            slidesToShow: 2
                        }
                    }
                ]
            });
        });
    </script>




    <script>
        $(document).ready(function () {
            $(".customer-logos").slick({
                slidesToShow: 5,
                cssEase: 'linear',
                autoplay: true,
                speed: 3000,
                autoplaySpeed: 0,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4
                        }
                    },
                    {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 3
                        }
                    }
                ]
            });
        });
    </script>


    <script>

        $(function () { // wait for document ready
            // init
            var controller = new ScrollMagic.Controller({
                globalSceneOptions: {
                    triggerHook: 'onLeave'
                }
            });

            // get all slides
            var slides = document.querySelectorAll(".panel");

            // create scene for every slide
            for (var i = 0; i < slides.length; i++) {
                new ScrollMagic.Scene({
                    triggerElement: slides[i]

                })
                    .setPin(slides[i], { pushFollowers: false })
                    .addIndicators() // add indicators (requires plugin)
                    .addTo(controller);
            }
        });

    </script>

    <script>
        //Function To Display Popup
        function div_show() {
            document.getElementById('abc').style.display = "block";
        }
        //Function to Hide Popup
        function div_hide() {
            document.getElementById('abc').style.display = "none";
        }
    </script>

    <script src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>