<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./css/style.css" />

    <!-- Bootstrap Icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <!-- Bootstrap CSS cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

    <!-- animinate -->
    <link rel="stylesheet" href="css/animate.min.css" />


    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <script src="https://kit.fontawesome.com/ff5b9029ba.js" crossorigin="anonymous"></script>

    <title>HOME|RIGHTPAY</title>
</head>

<body>



    <!-- ______________________________________form_________________________________________ -->


    <!-- ________________________SHREE GANESHAYE NAMAHA____________________________ -->
    <!-- ______________________________________________Navigation_______________________________________________ -->
    <div class="topheader d-none d-md-flex">
        <div class="topheader_container">
            <div class="topheader_left typewriter">
                <div class="typewriter-text"><i class="fas fa-phone-alt text-white"></i>+91-1234567890 +91-1234567890
                </div>
            </div>
            <div class="topheader_right">
                <ul class="social">
                    <li><a href="https://www.facebook.com" target="_blank"><img src="img/facebook.png" alt=""></a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><img src="img/twitter.png" alt=""></a>
                    </li>
                    <li><a href="https://www.youtube.com" target="_blank"><img src="img/youtube.png" alt=""></a>
                    </li>
                    <li><a href="https://www.instagram.com" target="_blank"><img src="img/instagram.png" alt=""></a>
                    </li>
                </ul>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="topheader_btn">Join Now</a>
                <!-- <button id="popup" onclick="div_show()"></button> -->
                <div class="dropdown ">
                    <a class="dropdown-toggle text-white language" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Languages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Hindi</a></li>
                        <li><a class="dropdown-item" href="#">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <nav class="navbar navbar-expand-lg  bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown" id="myDropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Our Services </a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" href="#"> Banking &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Aeps</a></li>
                                    <li><a class="dropdown-item" href="#">Money Trnasfer
                                    <li><a class="dropdown-item" href="#">Micro ATM</a></li>
                                    <li><a class="dropdown-item" href="#">Mpos Machine</a></li>
                                    <li><a class="dropdown-item" href="#">Upi QR Code</a></li>
                                    <li><a class="dropdown-item" href="#">Account Opening</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Bill Payment &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Mobile Recharge</a></li>
                                    <li><a class="dropdown-item" href="#">DTH Recharge</a></li>
                                    <li><a class="dropdown-item" href="#">BBPS</a></li>
                                    <li><a class="dropdown-item" href="#">Credit Card Bill</a></li>
                                    <li><a class="dropdown-item" href="#">LIC Premium</a></li>
                                    <li><a class="dropdown-item" href="#">Water Bill</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Travels Booking &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Flight</a></li>
                                    <li><a class="dropdown-item" href="#">Bus</a></li>
                                    <li><a class="dropdown-item" href="#">IRCTC Train Booking</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Insurance &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Health</a></li>
                                    <li><a class="dropdown-item" href="#">Vehicle</a></li>
                                    <li><a class="dropdown-item" href="#">Life</a></li>
                                </ul>
                            </li>
                            <li> <a class="dropdown-item" href="#"> Others &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Pan Card</a></li>
                                    <li><a class="dropdown-item" href="#">Ayushman Card</a></li>
                                    <li><a class="dropdown-item" href="#">Prepaid Card</a></li>
                                    <li><a class="dropdown-item" href="#">Fast Tag</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    </li>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_login_btn"><i class="fas fa-user-tie"></i> Login</a>
                    </li>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


    <!-- _____________________________________________________End Navigation____________________________________________ -->

    <!-- _____________________________________________HEADER_______________________________________________________ -->

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/kisanSlide.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="banner_content">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">

                            </div>
                            <div class="col-md-5 col-lg-6">
                                <div class="banner_img2">
                                    <picture>
                                        <source srcset="img/morphot.png" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                        <img srcset="img/morphot.png" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/slider1.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="banner_content">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="banner_text">
                                    <h2 class="animate__animated animate__fadeInLeft banner_text_heading">Web
                                        Development</h2>
                                    <ul class="banner_text_list">
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Lorem ipsum
                                            dolor sit amet consectetur, adipisicing elit.</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Lorem ipsum
                                            dolor sit amet consectetur, adipisicing elit.</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Lorem ipsum
                                            dolor sit amet consectetur, adipisicing elit.</li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-5 col-lg-6">
                                <div class="banner_img2">
                                    <picture>
                                        <source srcset="img/slider1slide1.png" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                        <img srcset="img/slider1slide1.png" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/slider2.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="banner_content">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="banner_text">
                                    <h2 class="animate__animated animate__fadeInLeft banner_text_heading">Web
                                        Development</h2>
                                    <ul class="banner_text_list">
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Lorem ipsum
                                            dolor sit amet consectetur, adipisicing elit.</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Lorem ipsum
                                            dolor sit amet consectetur, adipisicing elit.</li>
                                        <li
                                            class="animate__animated animate__zoomIn animate__delay-1s banner_text_subheading">
                                            Lorem ipsum
                                            dolor sit amet consectetur, adipisicing elit.</li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-5 col-lg-6">
                                <div class="banner_img2">
                                    <picture>
                                        <source srcset="img/m3cropped.png" type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                        <img srcset="img/m3cropped.png " type="image/png"
                                            class="img-fluid animate__animated animate__fadeInRight"
                                            alt="banner-4th-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev  d-none d-md-block" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next  d-none d-md-block" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- _________________________________________________________About Us_______________________________________________________ -->


        <section class="home_about_us">
            <div class="sub-heading">
                <h2>ABOUT US</h2>
            </div>
            <div class="row home_about_row">
                <div class="col-md-6 home_about_column1">
                    <div class=" home_about_img_div">
                        <img src="img/about1.webp" alt="about image" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 home_about_column2">
                    <div class=" home_about_text">
                        <h2>Lorem ipsum dolor, sit amet coctetur adiicing elit. Praesm motias.</h2>
                        <p>Lorem ipsumm, eriores sequi nulla! ium dolores repellat, alias maxime quasi accusamus
                            temporibus itaque aliquid nobis veniam dolore officiis totam voluptatum id ab rerum sequi
                            quam. Provident deleniti excepturi consequuntur voluptatibus nemo reiciendis id enim quis
                            dignissimos qui sapiente quod eos, blanditiis, autem at maxime deserunt sint minus quae
                            atque, sed et facere maiores? Tempora sed rem laboriosam, veniam tenetur laudantium
                            consequuntur vel quam quod, reprehenderit minima voluptatem ad facere ipsam dicta nulla
                            totam cumque nobis et eius. elit. Ipsa repellat dolorum veritatis, perspiciatis ipsum
                            aspernatur non dignissimos sint eum ab!</p>
                        <a class="btn btn-primary " href="/">Read More</a>
                    </div>

                </div>
            </div>
        </section>


        <!-- _________________________________________________Our Services____________________________________________________________ -->


        <section id="tw-service" class="tw-service tw-services-item py-60 " style="background: #e2e2e2;">
            <div class="sub-heading">
                <h2>OUR SERVICES</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/aeps.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>AEPS</h3>
                                <p>Harness the power of latest technologies &amp; digital assets that our experienced
                                    and dynamic PHP
                                    Developers bring forth.</p><br>
                                <a href="hire-php-developers"><button type="button" class="btn btn-primary">Read
                                        More</button></a>

                            </div>
                            <!-- Service Content end -->
                        </div>
                        <!-- Service box end -->
                    </div>
                    <!-- Col End -->
                    <div class="col-md-4 ">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".4s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/money_transfer.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>MONEY TRANSFER</h3>
                                <p>Add power to your web presence through our cutting edge and highly customizable
                                    Laravel web
                                    development services</p><br>
                                <a href="laravel-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box End -->
                    </div>
                    <!-- Col End -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".6s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/micro_atm.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service Icon End -->
                            <div class="service-content">
                                <h3>MICRO ATM</h3>
                                <p>Expand the reach of your by choosing our industry best wordpress e-commerce
                                    development </p><br>
                                <a href="wordpress-e-commerce-development-services"><button type="button"
                                        class="btn btn-primary">Read More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box End -->
                    </div>
                    <!-- Col end -->
                </div>
                <!-- Row end -->
                <div class="mb-60"></div>
                <div class="row ">
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/recharge.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>MOBILE RECHARGE</h3>
                                <p>Give your business a distinct edge in the global arena through our smart and
                                    high-tech Angular Js
                                    solutions</p><br>
                                <a href="angular-js"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service Box end -->
                    </div>
                    <!-- Col end -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".4s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/bbps.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>BBPS</h3>
                                <p>Want to experience the best backend for your business? Our Node Js experts can give
                                    you high quality,
                                    super fast backend!</p><br>
                                <a href="nodejs"><button type="button" class="btn btn-primary">Know More..</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box end -->
                    </div>
                    <!-- Row End -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".6s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/pan_card.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service Icon end-->
                            <div class="service-content">
                                <h3>PAN CARD</h3>
                                <p>Our Magento Developers can offer you with highly functional, visually appealing &amp;
                                    user centric
                                    websites and e-stores</p><br>
                                <a href="magento-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service Content end -->
                        </div>
                        <!-- Service box end-->
                    </div>
                    <!-- Col end -->



                </div>
                <div class="mb-60"></div>
                <div class="row ">
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/ayushman.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>AYUSHMAN CARD</h3>
                                <p>Give your business a distinct edge in the global arena through our smart and
                                    high-tech Angular Js
                                    solutions</p><br>
                                <a href="angular-js"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service Box end -->
                    </div>
                    <!-- Col end -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".4s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: zoomIn;">
                            <div class="service-icon">
                                <img src="img/travels.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service icon end -->
                            <div class="service-content">
                                <h3>TRAVELS BOOKING</h3>
                                <p>Want to experience the best backend for your business? Our Node Js experts can give
                                    you high quality,
                                    super fast backend!</p><br>
                                <a href="nodejs"><button type="button" class="btn btn-primary">Know More..</button></a>
                            </div>
                            <!-- Service content end -->
                        </div>
                        <!-- Service box end -->
                    </div>
                    <!-- Row End -->
                    <div class="col-md-4">
                        <div class="tw-service-box text-center wow animate__animated animate__zoomIn"
                            data-wow-duration="1s" data-wow-delay=".6s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: zoomIn;">
                            <div class="service-icon ">
                                <img src="img/insurance.png" alt="search engine" class="img-fluid">
                            </div>
                            <!-- Service Icon end-->
                            <div class="service-content">
                                <h3>INSURANCE</h3>
                                <p>Our Magento Developers can offer you with highly functional, visually appealing &amp;
                                    user centric
                                    websites and e-stores</p><br>
                                <a href="magento-development"><button type="button" class="btn btn-primary">Read
                                        More</button></a>
                            </div>
                            <!-- Service Content end -->
                        </div>
                        <!-- Service box end-->
                    </div>
                    <!-- Col end -->



                </div>
                <!-- Row End -->



            </div>


            <!-- container -->
        </section>

        <!-- _________________________________________________Our Partners____________________________________________________________ -->
        <section class="our_partners">
            <div class="sub-heading">
                <h2>OUR PARTNERS</h2>
            </div>
            <div class="container">
                <section class="customer-logos slider">
                    <div class="slide">
                        <img class="img-fluid" src="img/icici.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/vi.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/jio.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/icici.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/bsnl.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/jio.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/icici.png">
                    </div>
                    <div class="slide">
                        <img class="img-fluid" src="img/yesbank.png">
                    </div>
                </section>
            </div>
        </section>
        <!-- _________________________________________________Why choose us____________________________________________________________ -->


        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 619px; height: auto; padding-top: 0px; padding-bottom: 0px;">

            <section class="panel"
                style="position: relative; margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">

                <div class="wc_us">
                    <!-- <div class="home_sub_heading">
                        <h2>WHY CHOOSE US</h2>
                    </div> -->


                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 wc_img_col">
                                <div class="img_div">
                                    <img src="img/wc2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="wc_content_card">
                                    <h2>WHY CHOOSE US</h2>
                                    <p>RightPe with the training of its skilled team to its customers, it provides a
                                        wide range of services like Recharge, Aeps, DMT, Micro ATM Rail, Air & Bus
                                        Reservation, Bill Payment, Digital Wallet etc. on a single portal and also makes
                                        every effort that Our every single customer is satisfied with us, they use our
                                        digital service to grow their business and get maximum income. For which we try
                                        to innovate in the portal.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row wc_card_main_row">
                            <div class="col-12 wc_card_main_col">
                                <div class="row">
                                    <div class="col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <img src="img/wc/Best Commission & Extra Earn.png" alt="">
                                            <h3>Best Commission <br> & Extra Earn</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 wc_card_col">
                                        <div class="wc_card">
                                            <img src="img/wc/24x7 Settlement.png" alt="">
                                            <h3>24x7 Settlement</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 wc_card_col">
                                        <div class="wc_card"><img src="img/wc/Safe & Sequre Portal.png" alt="">
                                            <h3>Safe & Sequre Portal</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 wc_card_col">
                                        <div class="wc_card"><img src="img/wc/Trustworthy.png" alt="">
                                            <h3>Trustworthy</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 wc_card_col">
                                        <div class="wc_card"><img src="img/wc/Easy to Work.png" alt="">
                                            <h3>Easy to Work</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 wc_card_col">
                                        <div class="wc_card"><img src="img/wc/Fast Support.png" alt="">
                                            <h3>Fast Support</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>














                    <!-- <div class="container">


                        <div class="row ha-experience__experiences">
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle"> <i class="fab fa-facebook-f mt-3"></i>
                                </div>

                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">Value for Money</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ipsam eius
                                            voluptatem quaerat
                                            consequuntur unde.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle"> <i class="fab fa-facebook-f mt-3"></i>
                                </div>
                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">Transparency</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio doloremque
                                            facere magni
                                            voluptatibus pariatur aut.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle"> <i class="fab fa-facebook-f mt-3"></i>
                                </div>

                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">Proven Process</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est molestias
                                            magnam nam explicabo!
                                            Obcaecati, possimus. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle">
                                    <i class="fab fa-facebook-f mt-3"></i>
                                </div>

                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">True Partner</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum rerum
                                            soluta natus recusandae
                                            veritatis! Atque. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ha-experience__experiences">
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle"> <i class="fab fa-facebook-f mt-3"></i>
                                </div>

                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">Value for Money</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ipsam eius
                                            voluptatem quaerat
                                            consequuntur unde.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle"> <i class="fab fa-facebook-f mt-3"></i>
                                </div>
                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">Transparency</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio doloremque
                                            facere magni
                                            voluptatibus pariatur aut.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle"> <i class="fab fa-facebook-f mt-3"></i>
                                </div>

                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">Proven Process</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est molestias
                                            magnam nam explicabo!
                                            Obcaecati, possimus. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-lg-0 ha-experience__experiences--col">
                                <div class="ha-experience__experiences_circle"> <i class="fab fa-facebook-f mt-3"></i>
                                </div>

                                <div class="ha-experience__experiences--item" data-aos="fade-up" data-aos-delay="200">
                                    <h3 class="ha-experience__experiences--title mb-3">True Partner</h3>
                                    <div class="ha-experience__experiences--content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum rerum
                                            soluta natus recusandae
                                            veritatis! Atque. </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->
                </div>
            </section>

        </div>















        <!-- _________________________________________________Gallary____________________________________________________________ -->


        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 619px; height: auto; padding-top: 0px; padding-bottom: 0px;">
            <section class="panel"
                style="position: relative; margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">
                <div class="home_sub_heading bg_dark ">
                    <h2>OUR GALLARY</h2>
                </div>


                <div class="gallary_blk ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="gallary_left">
                                    <div class="gallary_text">
                                        <h2>Some Better Experience With Our Customer Of RightPe.</h2>
                                    </div>
                                    <div class="gallary_div">
                                        <div class="row gallary_img_row slider">
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                        </div>
                                        <div class="row gallary_img_row slider">
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                            <div class="col-md-4 gallary_img_div slide"><img src="img/bgg1.jpg" alt=""
                                                    class=""></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 gallary_right_blk">
                                <div class="gallary_right">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 616px; height: auto; padding-top: 0px; padding-bottom: 0px;">
            <section class="panel"
                style="position: relative; margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">

                <div class="home_sub_heading bg_light">
                    <h2 class="text-dark">
                        Download Rightpe Now</h2>
                </div>

                <div class="mobile_app">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 ">
                                <div class="ma_text">
                                    <p>To download the RightPe mobile application, please submit your mobile number
                                        here, you will be sent a link through a text message, with the help of which you
                                        can sign in or login by downloading the RightPe mobile app from the Play Store.
                                    </p>
                                    <div class="ma_input">
                                        <input type="tel" name="mobile" class="mobile" maxlength="10"
                                            placeholder="Enter Phone no.">
                                        <button type="submit" class="ma_btn" id="retailer-submit">Get app link</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="mobile_img_div">
                                    <img src="img/mobile.gif" alt="" class="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <div class="he">
            <section class="pt-5 ">

                <div class="container ">
                    <div class="row pb-5">
                        <div class="col-lg-7 col-md-12">
                            <div class="talk_content_div">

                                <h2>If you are looking for a reliable best portal then once please submit the join now
                                    form our experienced team will contact you soon.</h2>



                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="talk_div">

                                <!-- <a class="talk_btn wow animate__animated animate__fadeInUp" data-wow-delay="200ms"
                                    data-wow-duration="1500ms" href="contact.html">Get
                                    Started</a> -->

                                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="talk_btn">Join Now</a>

                            </div>

                        </div>
                    </div>
            </section>
        </div>

        <!-- <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
      style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 219px; height: auto; padding-top: 0px; padding-bottom: 0px;">
      <section class="panel"
        style="position: relative; margin: auto; inset: auto; box-sizing: border-box; width: 100%;">
        <div class="recentWork_blk panelBgTwo">

          <div class="recent_projectBlk">
            <div class="rc_left">
              <div class="rc_lftHeading">Strategy to lead</div>
            </div>
            <div class="recent_right">
              <img class="img-fluid" src="img/m3.webp" alt="Strategy to lead">
            </div>
          </div>
        </div>
      </section>
    </div> -->


        <!-- ____________________________________Our Mobile App____________________________ -->

        <!-- 
    <div class="sub-heading">
      <h2>OUR MOBILE</h2>
    </div> -->















        <!-- _________________________________________________FOOTER____________________________________________________________ -->




        <footer class="pt-4 w-100">
            <div class="container">
                <div class="row footer-content pb-3">
                    <div class="col-lg-3 col-sm-6 footer_grid footer-logo wow animate__animated animate__fadeInLeft"
                        data-wow-delay=".2s">
                        <h2><a href="#"><img class="img-fluid wow animate__animated animate__bounceInDown"
                                    data-wow-delay="1.1s" src="img/logo.png" alt=""> </a>
                        </h2>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt beatae quam quas nihil
                            laudantium
                            impedit vero harum dolorum hic earum?
                        </p>
                        <hr class="divider">
                        <!-- <ul class="add_inner_text">
              <li class="mb-2"><span class="fas fa-map-marker" aria-hidden="true"></span>106, Radhika Premier, Main Rd,
                Mahalaxmi Nagar, Indore, Madhya Pradesh 452010
              </li>
              <li class="mb-1"><span class="fas fa-phone-alt" aria-hidden="true"></span> +91-9009497975
              </li>
              <li class="mb-1"><span class="fas fa-phone-alt" aria-hidden="true"></span> +91-6266766137
              </li>
              <li class="mb-2"><span class="fas fa-envelope" aria-hidden="true"></span> <a
                  href="mailto:info@webseller.in">webseller.ind@gmail.com</a></li>
              <li class="mb-1"><span class="fas fa-clock" aria-hidden="true"></span>Office Time : <br>
                Mon - Sat (10am to 7pm)
              </li>
            </ul> -->
                    </div>
                    <div class="col-lg-2 col-sm-4 footer_grid wow animate__animated animate__fadeInLeft"
                        data-wow-delay=".4s">
                        <h3 class="my-3"> Quick Links</h3>
                        <div class="social-grids footer-icon">
                            <ul>
                                <li class="mb-1"><a href="#home"><i class="bi bi-house-fill"></i> Home</a></li>
                                <li class="mb-1"><a href="#"><i class="bi bi-info-circle-fill"></i> About Us</a></li>
                                <li class="mb-1"><a href="#"><i class="bi bi-gear"></i> Services</a></li>
                                <li class="mb-1"><a href="#"><i class="bi bi-person-fill"></i>Testimonials</a></li>
                                <li class="mb-1"><a href="#"><i class="bi bi-shield-fill-check"></i> Privacy Policy</a>
                                </li>
                                <li class="mb-1"><a href="#"><i class="bi bi-envelope-open-fill"></i> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer_grid ms-0 wow animate__animated animate__fadeInLeft"
                        data-wow-delay=".7s">
                        <h3 class="my-3">Development Service</h3>
                        <div class="social-grids footer-icon">
                            <ul>
                                <li class="mb-1"><a href="#"><i class="fas fa-laptop"></i></a></li>
                                <li class="mb-1"><a href="#"><i class="fas fa-mobile-alt"></i></a></li>
                                <li class="mb-1"><a href="#"><i class="fas fa-chalkboard-teacher"></i> </a></li>
                                <li class="mb-1"><a href="#"><i class="fas fa-mobile"></i></a></li>
                                <li class="mb-1"><a href="#"><i class="fas fa-fingerprint"></i></a></li>
                                <li class="mb-1"><a href="#"><i class="bi bi-upc-scan"></i></a></li>
                                <li class="mb-1"><a href="#"><i class="fas fa-globe"></i></a></li>
                                <li class="mb-1"><a href="#"><i class="fas fa-ruble-sign"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 footer_grid ms-4 wow animate__animated animate__fadeInLeft"
                        data-wow-delay="1s">
                        <h3 class="my-3">Other Services</h3>
                        <!-- <div class="social-grids footer-icon">
              <ul>
                <li class="mb-1"><a href="#"><i class="fas fa-fingerprint"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fas fa-money-bill"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fab fa-erlang"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fas fa-qrcode"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fas fa-file-invoice"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fas fa-microchip"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fas fa-bus"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fas fa-sms"></i></a></li>
                <li class="mb-1"><a href="#"><i class="fas fa-credit-card"></i></a></li>
              </ul>
            </div> -->
                        <ul class="add_inner_text">
                            <li class="mb-2"><span class="fas fa-map-marker" aria-hidden="true"></span>106, Radhika
                                Premier, Main Rd,
                                Mahalaxmi Nagar, Indore, Madhya Pradesh 452010
                            </li>
                            <li class="mb-1"><span class="fas fa-phone-alt" aria-hidden="true"></span> +91-9009497975
                            </li>
                            <li class="mb-1"><span class="fas fa-phone-alt" aria-hidden="true"></span> +91-6266766137
                            </li>
                            <li class="mb-2"><span class="fas fa-envelope" aria-hidden="true"></span> <a
                                    href="mailto:info@webseller.in">webseller.ind@gmail.com</a></li>
                            <li class="mb-1"><span class="fas fa-clock" aria-hidden="true"></span>Office Time : <br>
                                Mon - Sat (10am to 7pm)
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="row footer-bottom">
                    <hr>
                    <div class="col-lg-6 col-md-6 col-sm-12  order-2 order-md-1 copyleft">
                        <p> 2021 Rightpe All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 order-1 order-md-2 copyright">
                        <ul class="social">
                            <li class="mr-3"><a href="https://www.facebook.com" target="_blank"><img
                                        src="img/facebook.png" alt=""></a></li>
                            <li class="mr-3"><a href="https://www.twitter.com" target="_blank"><img
                                        src="img/twitter.png" alt=""></a></li>
                            <li class="mr-3"><a href="https://www.youtube.com" target="_blank"><img
                                        src="img/youtube.png" alt=""></a></li>
                            <li class="mr-3"><a href="https://www.instagram.com" target="_blank"><img
                                        src="img/instagram.png" alt=""></a></li>
                        </ul>



                    </div>

                </div>
            </div>
        </footer>



        <!-- _______________________________________contact form___________________________________ -->


        <div class="modal fade modalform" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" id="exampleModalLabel">To join with RightPe, <br> Please fill out this
                            form and submit, we will contact you soon.
                        </p>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div id="message_popup" style="text-align:center; padding-bottom: 15px; display: none;"></div>
                        <form id="contact_us_form_popup" method="post" class="form-horizontal popup contact_us_form"
                            novalidate="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="row">
                                <div class="col-sm-6 requireSign">
                                    <input type="text" placeholder="Name" id="name_popup" name="name"
                                        class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Phone No." id="phone_popup" name="phone"
                                        class="form-control">
                                </div>
                                <div class="col-sm-6 requireSign">
                                    <input type="email" placeholder="Email" id="email_popup" name="email"
                                        class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="City/District" id="city_popup" name="city"
                                        class="form-control">
                                </div>
                                <div class="col-sm-6 requireSign">
                                    <input type="text" placeholder="State" name="state" id="state_popup"
                                        class="form-control">
                                </div>
                                <div class="col-sm-6 requireSign">
                                    <input type="text" placeholder="Pin-Code" name="pin" id="pin_popup"
                                        class="form-control">
                                </div>

                                <div class="col-sm-12 requireSign">
                                    <textarea placeholder="Your Message" rows="2" name="message" id="message_popup_form"
                                        class="form-control"></textarea>
                                </div>


                                <div class="col-sm-12 mt-3 model_btn_div">
                                    <input type="submit" class="btn bg_dark center-block" value="Submit"
                                        style="width: 100%;">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ______________________________contact form end ______________________________________- -->
        <script src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

        <script src="js/slick.min.js"></script>
        <script type="text/javascript" src="js/ScrollMagic.js"></script>



        <script type="text/javascript">
            $(document).ready(function () {
                $('.gallary_img_row').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,

                    arrows: false,
                    autoplay: true,
                    autoplaySpeed: 2200,
                    responsive: [

                        {
                            breakpoint: 990,
                            settings: {
                                arrows: false,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 620,
                            settings: {
                                slidesToShow: 2
                            }
                        }
                    ]
                });
            });
        </script>




        <script>
            $(document).ready(function () {
                $(".customer-logos").slick({
                    slidesToShow: 5,
                    cssEase: 'linear',
                    autoplay: true,
                    speed: 3000,
                    autoplaySpeed: 0,
                    arrows: false,
                    dots: false,
                    pauseOnHover: false,
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 4
                            }
                        },
                        {
                            breakpoint: 520,
                            settings: {
                                slidesToShow: 3
                            }
                        }
                    ]
                });
            });
        </script>


        <script>

            $(function () { // wait for document ready
                // init
                var controller = new ScrollMagic.Controller({
                    globalSceneOptions: {
                        triggerHook: 'onLeave'
                    }
                });

                // get all slides
                var slides = document.querySelectorAll(".panel");

                // create scene for every slide
                for (var i = 0; i < slides.length; i++) {
                    new ScrollMagic.Scene({
                        triggerElement: slides[i]

                    })
                        .setPin(slides[i], { pushFollowers: false })
                        .addIndicators() // add indicators (requires plugin)
                        .addTo(controller);
                }
            });

        </script>

        <script>
            //Function To Display Popup
            function div_show() {
                document.getElementById('abc').style.display = "block";
            }
            //Function to Hide Popup
            function div_hide() {
                document.getElementById('abc').style.display = "none";
            }
        </script>

        <script src="js/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>

</body>

</html>