@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.round {
    border: 1px solid red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.bg-facebook {
    width: 64px;
    height: 64px;
    background: url('../img/css_sprites.webp') -10px -10px;
}

.bg-instagram {
    width: 64px;
    height: 64px;
    background: url('../img/css_sprites.webp') -94px -10px;
}

.bg-twitter {
    width: 64px;
    height: 64px;
    background: url('../img/css_sprites.webp') -10px -94px;
}

.bg-youtube {
    width: 64px;
    height: 64px;
    background: url('../img/css_sprites.webp') -94px -94px;
}

.icon-s5 {
    zoom: .5;
    -ms-zoom: 0.5;
    -webkit-zoom: 0.5;
    -moz-transform: scale(0.5);
}

.icon-s63 {
    zoom: .63;
    -ms-zoom: 0.63;
    -webkit-zoom: 0.63;
    -moz-transform: scale(0.63);
}

.icon-s43 {
    zoom: .43;
    -ms-zoom: 0.43;
    -webkit-zoom: 0.43;
    -moz-transform: scale(0.43);
    -moz-transform-origin: top;
}

.wc_img_div {
    height: 100px;
}

.wc_img_div div {
    margin-top: 10px;
}

.bg-Best_Commission_Extra_Earn {
    width: 200px;
    height: 200px;
    background: url('../img/why_choose_icon.webp') -425px -5px;
}

.bg-24x7_Settlement {
    width: 200px;
    height: 200px;
    background: url('../img/why_choose_icon.webp') -425px -215px;
}

.bg-Trustworthy {
    width: 200px;
    height: 200px;
    background: url('../img/why_choose_icon.webp') -5px -5px;
}

.bg-Safe_Sequre_Portal {
    width: 200px;
    height: 200px;
    background: url('../img/why_choose_icon.webp') -215px -5px;
}

.bg-Fast_Support {
    width: 200px;
    height: 200px;
    background: url('../img/why_choose_icon.webp') -5px -215px;
}

.bg-Easy_to_Work {
    width: 200px;
    height: 200px;
    background: url('../img/why_choose_icon.webp') -215px -215px;
}

:root {
    --ff-body: "Poppins", sans-serif;
    --ff-heading: "Poppins", sans-serif;
    --clr-gray: #505050;
    --clr-white: white;
    --clr-black: black;
    --clr-text-black: #123;
    --clr-primary-dark: #334960;
    --clr-primary: #2196f3;
}

body {
    font-family: var(--ff-body) !important;
}

.btn-primary {
    background-color: #334960 !important;
    border-color: #334960 !important;
}

a {
    text-decoration: none !important;
}

.customer-logos .slick-slide {
    margin: 0px 5px;
}

.customer-logos .slick-slide img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #334960;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

.mb-60 {
    margin-bottom: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.py-60 {
    padding: 60px 0;
}

.typewriter_div {
    display: flex;
    margin-left: 45px;
}

.typewriter_div img {
    width: 35px;
    height:30px
}

.typewriter {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 11s steps(30, end) infinite, blink 1s step-end infinite;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    border-right: 2px solid white;
    box-sizing: border-box;
    margin-left: 5px;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}

.topheader {
    background-color: black;
}

.topheader_container {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1021;
}

.topheader_right {
    display: flex;
}

.topheader_left {
    margin-left: 50px;
}

.social_div {
    display: flex;
    align-content: center;
}

.social {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social li {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.social li a img {
    width: 30px;
    height: 30px;
}

.language {
    text-decoration: none;
    margin: 0 20px;
    z-index: 344444;
}

.language .dropdown-menu.show {
    z-index: 20949;
}

.language .dropdown-menu.show .dropdow-item {
    z-index: 20949;
}

.topheader_btn {
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 5px 15px;
    font-size: 11px;
    margin-left: 10px;
    margin-right: 15px;
    background-color: #F08815;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: 3px solid white;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    align-self: center;
    display: flex;
}

.topheader_btn:hover {
    background-color: #F08815;
    color: #B1273C;
    border: 3px solid white;
    visibility: visible;
    animation-duration: 1300ms;
    animation-delay: 0ms;
    animation-name: pulse;
}

.dropdown-toggle::after {
    margin-left: 0 !important;
}

.topheader_right .dropdown {
    display: flex;
    align-self: center;
}

.navbar {
    height: 70px;
    background-color: white;
}

.navbar-brand img {
    width: 160px;
    margin-left: 50px;
}

.navbar-collapse {
    background-color: white;
}

.navbar-nav {
    margin-right: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 1rem !important;
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: #F08815 !important;
}

.navbar-nav:last-child .nav-item .nav-link:hover {
    visibility: visible;
    animation-duration: 1300ms;
    animation-delay: 0ms;
    animation-name: pulse;
}

.navbar-toggler {
    color: rgba(0, 0, 0, .55) !important;
    border-color: rgba(0, 0, 0, .1) !important;
}

.navbar-toggler-icon {
    background-image: url("../img/togglesvg.svg");
}

.navbar-collapse {
    background-color: white;
    z-index: 11;
}

.home_about_column2 .btn {
    border: 2px solid white !important;
}

.nav_login_btn {
    text-decoration: none;
    color: white !important;
    /* height: 100%; */
    padding: 10px 15px !important;
    font-size: 11px;
    margin-left: 10px;
    background-color: #B1273C;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: 4px solid #F08815;
    border-radius: 45px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75), 1px 0px 3px 0px rgba(0, 0, 0, 0.65) inset;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
}

@media all and (max-width: 768px) {
    .navbar-brand img {
        margin-left: 0px;
        width: 140px;
    }
}

@media all and (max-width: 992px) {
    .navbar-nav {
        width: 100%;
    }
    .nav_login_btn {
        margin-right: 10px;
    }
    .dropdown-menu.submenu {
        display: block;
    }
    .dropdown-menu.submenu .dropdown-item:hover, .dropdown-menu.submenu .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #B1273C;
    }
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -26px;
    }
    .dropdown-menu {
        border: none !important;
        background-color: #B1273C !important;
        margin-top: 1.125rem !important;
    }
    .dropdown-item:hover {
        background-color: #F08815 !important;
    }
    .dropdown-item {
        color: white !important;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}

/* __________________________________Carousal___________________________ */

.banner_text_heading {
    --animate-duration: 1.2s;
    font-size: 2.5rem;
    text-align: start;
    max-width: 90%;
}

.banner_text_list {
    padding: 0;
    margin: 0;
}

.banner_text_subheading {
    font-size: 1.8rem;
    text-align: start;
    list-style-type: none;
    margin-bottom: 10px;
    font-weight: 500;
}

.banner_img2 source, .banner_img2 img {
    --animate-duration: 1.2s;
}

.carousel-control-next, .carousel-control-prev {
    width: 5% !important;
}

.carousel-caption {
    right: 0 !important;
    left: 7% !important;
    top: 20%;
}

.banner_text {
    color: white;
    padding-right: 40px;
}

.banner_img2 {
    width: 100%;
    margin-left: 0%;
}

.sub-heading {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.sub-heading h2 {
    font-family: var(--ff-heading);
    font-weight: 600;
    color: var(--clr-text-black);
    font-size: 2.5rem;
    letter-spacing: .125rem;
}

.sub-heading h2::after {
    content: "";
    display: block;
    position: relative;
    width: 40px;
    height: 5px;
    background-color: orangered;
    border: 1px solidorangered;
    margin: 20px auto;
}

@media screen and (max-width: 575px) {
    .carousel-caption {
        right: 10% !important;
        left: 10% !important;
        top: 15%;
    }
    .carousel-indicators {
        margin-bottom: 0 !important;
    }
    .carousel-item>img {
        height: 250px;
        width: 100%;
    }
    .banner_text {
        padding-right: 0px;
    }
    .banner_text_heading {
        font-size: 1rem;
        max-width: 100%;
    }
    .banner_text_subheading {
        font-size: .6rem;
        margin-bottom: 0;
    }
    .banner_img2 img {
        min-height: 167px;
        min-width: 136px;
    }
}

@media (max-width: 767px) {
    .sub-heading {
        padding: 40px 20px 0;
    }
    .sub-heading h2 {
        font-size: 1.9rem;
    }
}
@media (min-width:1200px) and (max-width:1400px) {
    .banner_img2 img {
        max-height: 350px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .banner_text_heading {
        font-size: 2rem;
        max-width: 100%;
    }
    .banner_text_subheading {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .banner_img2 img {
        max-height: 290px;
    }
   
}
@media (min-width:767px) and (max-width:991px) {
    .banner_text_heading {
        font-size: 1.7rem;
        max-width: 100%;
    }
    .banner_text_subheading {
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .banner_img2 img {
        max-height: 220px;
    }
    .carousel-caption{
        top: 12%;
    }
   
}
@media (min-width:575px) and (max-width:766px) {
    .banner_text_heading {
        font-size: 1.2rem;
        max-width: 100%;
    }
    .banner_text_subheading {
        font-size: 1rem;
        margin-bottom: 0;
    }
    .banner_img2 img {
        max-height: 170px;
    }
    .carousel-caption {
        right: 15%;
        top: 7%;
    }
}

/* __________________________________________Contact Form______________________________________________ */ 

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

#exampleModal .modal-dialog {
    max-width: 650px;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

#exampleModal .modal-header {
    background: #F08815;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: white;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.form-control {
    margin-bottom: 10px;
}

.form-control {
    padding: 12px 15px !important;
    border-color: transparent;
    color: #000;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.form-control, #exampleModal .close {
    border-radius: 30px !important;
}

.model_btn_div input {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 8.75rem auto !important;
    }
}

/* ________________________About Us________________________________ */

.home_about_text {
    position: relative;
    text-align: center;
    color: white;
    margin: 40px;
}

.max-width {
    max-width: 1600px;
    margin: auto;
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home_about_text p {
    text-align: justify;
    line-height: 1.6rem;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    font-size: 1.3rem;
    letter-spacing: 1.4px;
}

.home_about_column1 {
    position: relative;
}

.home_about_column2 {
    background-color: #F08815;
}

.home_about_row {
    --bs-gutter-x: 0 !important;
}

.home_about_text .btn {
    padding: .475rem 1rem;
}

@media screen and (max-width: 767px) {
    .home_about_text {
        letter-spacing: normal;
        margin: 20px;
    }
    .home_about_text p {
        text-align: justify;
        line-height: 1.4rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
}

/* ______________________________Our Services____________________________ */

.tw-service-box {
    background: #fff;
    border-radius: 16px;
    padding: 20px !Important;
    height: 100%;
}

.tw-service {
    padding: 10px 0px;
}

.tw-service .container .row {
    margin-bottom: 60px;
}

.service-icon {
    width: 100%;
    position: relative;
    z-index: 2;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
}

.service-icon img {
    width: 120px;
}

.tw-service-box:hover .service-icon img {
    visibility: visible;
    animation-duration: 1300ms;
    animation-delay: 0ms;
    animation-name: pulse;
}

/* .icon-huge{
    zoom:1;
    -moz-transform:scale(1);
    -moz-transform-origin: 0 0;
}
.sprite {
	background: url('../img/css_sprites.png') no-repeat -110px -290px;
	width: 80px;
	height: 80px;
} */

.tw-service-box:hover {
    box-shadow: 0 15px 28px 0 rgba(240, 136, 21, 0.86), 0 2px 4px 0 rgba(240, 136, 21, .64);
    border: 1px solid #B1273C;
    background-color: #ffffff;
}

.bg_red {
    background-color: orangered;
}

@media screen and (max-width: 575px) {
    .tw-service {
        padding: 0;
        margin-inline: 15px;
    }
    .tw-service .container .row {
        margin-bottom: 0px;
    }
    .tw-service .container .col-md-4 {
        margin-bottom: 35px;
    }
}

/* __________________________________Our Partners___________________________ */

.our_partners {
    background-color: #e2e2e2;
}

.customer-logos {
    padding-bottom: 7rem;
}

@media screen and (max-width:575px) {
    .customer-logos {
        margin-top: 40px;
    }
}

/* ___________________________Why Choose us_____________________________ */

.wc_us {
    background-color: #B1273C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.wc_img_col {
    height: 50vh;
}

.wc_us .img_div {
    width: 100%;
}

.wc_us .img_div img {
    width: 88%;
    height: 500px;
}

.wc_content_card {
    width: 479px;
    height: 300px;
    color: white;
    background-color: #F08815;
    position: absolute;
    right: 5.5%;
}

.wc_content_card h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

.wc_content_card p {
    font-weight: 400;
    margin: 15px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 300;
    letter-spacing: 1.3px;
    margin: 20px;
}

.wc_card_main_row {
    position: absolute;
    bottom: 20px;
    width: 50vw;
}

.wc_card_main_col {
    margin-left: 70px;
}

.wc_card_col {
    width: 30px;
}

.wc_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-bottom: .7rem;
    background-color: white;
}

.wc_card img {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.wc_animation:hover {
    visibility: visible;
    animation-duration: 1300ms;
    animation-delay: 0ms;
    animation-name: pulse;
}

.wc_card h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;
}

@media (max-width:575px) {
    .wc_content_card p {
        font-size: .9rem;
    }
    .wc_content_card {
        width: 100%;
        height: auto;
        right: 0;
        left: 0;
        margin-bottom: 0;
        position: relative;
    }
    .wc_img_col{
        display: none;
    }
    .wc_content_card h2 {
        margin: 0;
        padding-top: 10px;
    }
    .wc_content_card p {
        margin: 10px;
        padding-bottom: 10px;
        padding-top: 0;
    }
    .wc_card_main_row {
        bottom: 25px;
        width: 100%;
    }
    .wc_card_main_col {
        margin-left: 0;
    }
    .wc-card-col {
        margin-left: 0;
    }
    .wc_card {
        height: 140px;
    }
    .wc_img_div {
        height: 85px;
    }

    .icon-s43 {
        zoom: .34;
        -ms-zoom: 0.34;
        -webkit-zoom: 0.34;
        -moz-transform: scale(0.34);
        -moz-transform-origin: top;
    }
    .wc_card h3 {
        font-size: 1rem;
        margin-top: 5px;
        word-break: break-word;
        overflow: hidden;
    }
}
    /* __________________________________Our Gallary___________________________ */
    .gallary_blk {
        height: 100vh;
        background-color: #334960;
    }
    .gallary_right_blk {
        position: relative;
    }
    .gallary_right {
        width: 100%;
        height: 85%;
        position: absolute;
        left: -30%;
        top: 0;
        z-index: 1;
        background-color: #F08815;
    }
    .gallary_left {
        margin-left: 40px;
    }
    .gallary_text {
        margin-bottom: 45px;
        max-width: 40em;
    }
    .gallary_text h2 {
        font-size: 2.5rem;
        color: white;
    }
    .gallary_img_row {
        margin-bottom: 10px;
        z-index: 2;
        width: 100%;
    }
    .gallary_img_div {
        height: 190px !important;
        margin-right: 10px;
    }
    .gallary_img_div img {
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .bg_gradient {
        background: linear-gradient(to right, #334960 60%, #B1273C 60%);
    }
    .bg_yellow {
        background-color: #F08815 !important;
    }
    .bg_dark {
        background-color: #334960 !important;
    }
    .bg_light {
        background-color: #c7e1ff;
    }
    .bg_blue {
        background-color: blue;
    }
    .home_sub_heading {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        position: relative;
        z-index: 10;
    }
    .home_sub_heading h2 {
        font-family: var(--ff-heading);
        font-weight: 600;
        color: white;
        font-size: 2.5rem;
        letter-spacing: .125rem;
    }
    .home_sub_heading h2::after {
        content: "";
        display: block;
        position: relative;
        width: 40px;
        height: 5px;
        background-color: orangered;
        border: 1px solid orangered;
        margin: 10px auto;
    }
    @media (max-width: 767px) {
        .home_sub_heading h2 {
            font-size: 1.9rem;
        }
        .gallary_text h2 {
            font-size: 2rem;
        }
        .gallary_text {
            margin-bottom: 55px;
        }
        .gallary_img_row {
            margin-bottom: 55px;
        }
    }
    @media(min-width:992px) {
        .col-lg-pull-6 {
            right: 50%
        }
        .col-lg-push-6 {
            left: 50%
        }
        .col-lg-6 {
            float: left;
            position: relative;
        }
    }
    @media screen and (max-width: 415px) and (max-height: 760px) {
        .gallary_text h2 {
            font-size: 1.5rem;
        }
        .gallary_img_row {
            margin-bottom: 20px;
        }
        .gallary_text {
            margin-bottom: 20px;
        }
    }
    /* ______________________________Mobile App_______________________________ */
    .mobile_app {
        height: 100vh;
        background-color: #c7e1ff;
    }
    .mobile_img_div {
        display: flex;
        justify-content: center;
    }
    /* .mobile_img_div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */
    .ma_text {
        font-weight: 500;
        font-size: 1.325rem;
        margin-bottom: 20px;
        line-height: 1.6;
        position: relative;
        top: 70px;
    }
    .ma_input {
        display: flex;
        justify-content: start;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-top: 95px;
    }
    .ma_input input {
        border-radius: 10px;
        font-size: 1.125rem;
        padding: 5px;
        border: 1px solid black;
        height: 50px;
        width: 252px;
    }
    .ma_btn {
        border-radius: 10px;
        background-color: #334960;
        margin-top: 20px;
        padding: 8px 15px;
        border: 4px solid white;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75), 1px 0px 3px 0px rgba(0, 0, 0, 0.65) inset;
        color: white;
    }
    @media (max-width:767px) {
        .ma_text {
            top: 25px;
        }
        .ma_input {
            margin-top: 60px;
        }
    }
    @media (max-width: 575px) {
        .ma_text {
            display: none;
        }
        .ma_input {
            margin-top: 55px;
            align-items: center;
        }
        .mobile_img_div {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 415px) and (max-height: 760px) {
        .mobile_img_div img {
            max-width: 135px;
        }
    }
    /* _____________________Lets Talk Us___________________________ */
    .talk_content_div {
        height: 190px;
        margin-left: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        color: white;
    }
    .talk_content_div h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 50px;
    }
    .talk_btn {
        border: 1px solid white;
        border-radius: 50px;
        color: white;
        padding: 8px 40px;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 110px;
        transition: 0.5s;
        background-size: 200% auto;
        box-shadow: 0 0 20px #eee;
        cursor: pointer;
        background-image: linear-gradient(to right, #DCE35B 0%, #45B649 51%, #DCE35B 100%)
    }
    .talk_btn:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }
    .talk_div {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .why {
        position: relative;
    }
    .he {
        position: relative;
        z-index: 292;
        background-color: #334960;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hee {
        background-color: cyan;
    }
    @media (max-width:991px) {
        .he {
            height: 550px;
        }
        .talk_content_div {
            margin-left: 0;
        }
        .talk_content_div h2 {
            margin-top: 0;
            text-align: justify;
        }
        .talk_div {
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }
        .talk_btn {
            padding: 4px 15px;
            margin-top: 10px;
            margin-left: 0;
        }
    }
    /* ___________________________________________About us Page________________________________________________________ */
    .about_sec1 {
        width: 100%;
        height: 300px;
        background-color: #334960;
        margin-bottom: 60px;
        display: grid;
        place-content: center;
    }
    .about_heading {
        color: white;
        font-size: 3.5rem;
        text-shadow: 4px 4px 2px black;
    }
    .about_sec2 {
        margin-bottom: 50px;
    }
    .about_sec2_content p {
        font-size: 1.3rem;
        text-align: justify;
    }
    .about_sec3 {
        width: 100%;
        height: 400px;
        background-color: rgb(240, 224, 195);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about_sec3 p {
        color: white;
        font-weight: 500;
        font-size: 2rem;
    }
    .about_sec4 {
        margin-top: -210px;
        margin-bottom: 50px;
    }
    .card {
        width: 100%;
        min-height: 400px;
        height: auto;
        text-align: center;
        overflow: hidden;
        border-radius: .45rem !important;
    }
    .card:hover {
        box-shadow: 0 0 20px #F08815;
        border: 1px solid #B1273C;
    }
    .card_img_div {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 15px auto;
    }
    .card h3 {
        margin-top: 10px;
        padding: 10px;
    }
    .card p {
        padding: 10px;
    }
    @media screen and (max-width: 575px) {
        .about_sec2 {
            margin-bottom: 30px;
        }
        .about_sec3 {
            display: none;
        }
        .about_sec4 {
            margin-top: 0px;
        }
        .about_sec4_col {
            margin-bottom: 15px;
        }
    }
    @media (min-width:576px) and (max-width:991px) {
        .about_sec1 {
            margin-bottom: 30px;
        }
        .about_sec2 {
            margin-bottom: 20px;
        }
        .about_sec3 {
            height: 330px;
        }
        .about_sec4_col {
            margin-bottom: 25px;
        }
        .about_sec4 {
            margin-bottom: 10px;
        }
    }
    /* ___________________________________________________Contact Page___________________________________________________ */
    .page_heading {
        display: flex;
        justify-content: center;
        background-color: #334960;
    }
    .page_heading p {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 6rem;
        position: relative;
        font-weight: 700;
        height: 300px;
        padding-bottom: 40px;
        color: var(--clr-primary);
        display: flex;
        font-family: var(--ff-heading);
        align-items: end;
    }
    @media (max-width: 1024px) {
        .contact_us {
            padding-top: 0px!important;
            margin-top: 0px!important;
        }
        .contact-form {
            margin-bottom: 45px;
        }
        .contact_us .right-content {
            text-align: center;
        }
        .contact_us .contact-content {
            padding: 60px 0px!important;
        }
    }
    .page_top_heading {
        background-color: #334960;
        color: var(--clr-white);
        min-height: 320px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .page_top_heading h1 {
        font-family: var(--ff-heading);
        font-size: 4rem;
        font-weight: 700;
    }
    .page_top_heading .page_top_shadow {
        text-shadow: 4px 4px 2px black;
    }
    @media (max-width:767px) {
        .page_top_heading {
            min-height: 200px;
        }
        .page_top_heading h1 {
            font-size: 2.5rem;
        }
    }
    .contact_us {
        background-image: linear-gradient(rgba(27, 26, 26, 0.688), rgba(34, 28, 28, 0.634)), url('../img/contactPage.webp');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
    }
    .contact_us .contact-content {
        padding: 120px 0px;
    }
    .contact-form {
        position: relative;
        z-index: 10;
        padding: 30px;
        border-radius: 5px;
        background-color: var(--clr-white);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .contact-form h1 {
        font-weight: 700;
        background-color: #F08815;
        color: var(--clr-white);
        font-size: 2rem;
        border-radius: 10px;
        padding: 10px 0;
        margin-top: -5rem;
        box-shadow: 1px 2px 37px 1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 2px 37px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 37px 1px rgba(0, 0, 0, 0.75);
    }
    .contact_us .right-content {
        align-self: center;
    }
    .contactus_address {
        list-style: none;
        padding: 0;
    }
    .contactus_address li span {
        margin-right: 4px;
    }
    .contact-form input, .contact-form textarea {
        color: var(--clr-text-black);
        font-size: 13px;
        border: 1px solid var(--clr-black);
        background-color: var(--clr-black);
        border-radius: 5px;
        width: 100%;
        height: 50px;
        outline: none;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-bottom: 30px;
    }
    .contact-form textarea {
        height: 100px;
        resize: none;
        padding: 20px;
    }
    .contact-form {
        text-align: center;
    }
    .contact-form ::-webkit-input-placeholder {
        /* Edge */
        color: var(--clr-text-black);
    }
    .contact-form :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--clr-text-black);
    }
    .contact-form ::placeholder {
        color: var(--clr-text-black);
    }
    .contact-content .right-content {
        color: var(--clr-white);
    }
    .contact-content .right-content h2 {
        margin-bottom: 0;
        font-size: 42px;
        text-transform: capitalize;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .contact-content .right-content h2 em {
        font-style: normal;
        color: var(--clr-primary);
    }
    .contact-content .right-content p {
        color: var(--clr-white);
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }
    .contact-content .right-content a {
        color: var(--clr-white);
    }
    .contact-content .right-content a:hover {
        color: var(--clr-primary);
    }
    .contact_us .contactus_social {
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 4rem;
        padding: 0;
    }
    .contact_us .contactus_social li:first-child {
        margin-left: 0px;
    }
    .contact_us .contactus_social li {
        margin: 0px 7.5px;
        display: inline-block;
    }
    .contact_us .contactus_social li a {
        color: var(--clr-white);
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--clr-white);
        width: 44px;
        height: 44px;
        line-height: 44px;
        border-radius: 50%;
        display: inline-block;
        font-size: 16px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .contact_us .contactus_social li a:hover {
        background-color: #F08815;
        border-color: #F08815;
        color: var(--clr-white);
    }
    .c_submit {
        background-color:#F08815;
        border-radius: 10px;
        border: 1px solid #F08815;
        color: var(--clr-white);
        padding: 8px 28px;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .c_submit:hover {
        background-color: #B1273C;
        color: white;
        border-color: #B1273C;
    }
    @media (max-width: 991px) {
        .contact_us .contactus_social {
            text-align: center;
        }
    }
    @media (max-width:575px) {
        .contact-form h1 {
            font-size: 1.5rem;
        }
    }
    .addr_title {
        font-size: var(--fs-600);
        color: var(--clr-white);
        font-weight: 600;
    }
    .addr_content {
        font-size: var(--fs-400);
        color: var(--clr-text-white);
        padding-top: 8px;
    }
    .addr_1 {
        display: flex;
    }
    .addr_2 {
        display: flex;
    }
    /* Footer_________________________________________________________ */
    footer {
        background-image: url(../img/footerBg.png);
        background-repeat: no-repeat;
        /* background-position-y: -63px; */
        background-size: cover;
        padding-bottom: 1rem;
        position: relative;
    }
    .footer_logo h2 a img {
        visibility: visible;
        animation-duration: 1000ms;
        animation-delay: 100ms;
        animation-name: bounceInDown;
        position: relative;
    }
    .divider {
        width: 100%;
    }
    .footer-bottom hr {
        margin: 0;
    }
    .social-grids ul {
        padding: 0;
        margin: 0
    }
    .add_inner_text {
        padding: 0 !important;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .add_inner_text:last-child {
        border-bottom: none;
    }
    .footer_grid {
        margin-left: 40px;
    }
    .footer_grid h3 {
        font-size: 1.5em;
        color: var(--clr-black);
        letter-spacing: 1px;
        position: relative;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .footer_grid p {
        margin: 0;
        color: var(--clr-black) !important;
        letter-spacing: .5px;
        font-size: 15px;
        line-height: 28px
    }
    .footer_grid form {
        margin: 1em 0 0;
        position: relative
    }
    .footer_grid h2 a {
        font-size: 1.1em;
        color: var(--clr-black) !important;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 2px;
        display: inline-block
    }
    ul.add_inner_text li, ul.add_inner_text li a {
        list-style-type: none;
        color: var(--clr-black);
        font-size: 15px;
        line-height: 22px
    }
    .social-grids.footer-icon ul li {
        display: block;
        margin-bottom: 10px;
    }
    .footer-bottom {
        margin-top: 15px;
    }
    .footer-logo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .footer-logo h2 {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        padding-bottom: 5px;
        width: 100%;
    }
    .footer-logo h2 a img {
        width: 260px;
    }
    .footer-logo p {
        color: var(--clr-black);
        font-size: 14px;
        line-height: 1.5;
    }
    .social-grids.footer-icon ul li i, ul.add_inner_text span {
        width: 20px;
        font-size: 13px
    }
    .social-grids.footer-icon ul li a {
        color: var(--clr-black);
        letter-spacing: .5px;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px
    }
    .social-grids.footer-icon ul li a:hover {
        color: #F08815;
    }
    .copyleft {
        color: var(--clr-black);
        padding-top: 1rem;
    }
    .copyright {
        padding-top: 1rem;
        text-align: right
    }
    .copyright .social {
        position: static;
        width: auto !important;
        float: right;
    }
    .copyright ul.social li {
        list-style-type: none;
        display: inline-block
    }
    @media (max-width:991px) {
        footer {
            background-position-x: -348px;
            background-size: cover;
            margin: 0;
            padding: 0;
        }
        .footer-logo img {
            width: 230px;
            height: auto;
        }
        .footer-logo h2 {
            text-align: center;
        }
        .footer-logo p {
            text-align: justify;
        }
        .footer_grid .add_inner_text {
            margin: 0;
            padding: 0;
        }
        .copyleft {
            text-align: center;
            padding: 0;
        }
        .copyright {
            padding: 0;
            text-align: center;
        }
    }
    @media (max-width:991px) {
        .footer_grid {
            margin-left: 0;
        }
        .copyright {
            display: flex;
            justify-content: center;
        }
        .copyright .social {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }